@use '../partials/variables' as *;

.carousel {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;

  .arrow.leftArrow {
    left: -3px;
  }

  .arrow.rightArrow {
    right: -3px;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $white;
    font-size: 25px;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 1px 4px $black;
  }

  &__showcase {
    overflow: scroll;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    scroll-behavior: smooth;
    padding-bottom: 10px;

    & > *{
      flex-shrink: 0;
    }

    &::-webkit-scrollbar {
      height: 6px;
      width: 100%;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $darkGrey;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: $grey;
    }
  }
}