@use '../partials/variables' as *;

.experiences-section {
  padding-top: 110px;
  padding-bottom: 70px;

  .experiences {
    &__image {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
    }

    &__content {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      background-color: rgba($white, $alpha: 0.7);
    }
  }
}

@media(min-width: 676px) {
  .experiences-section {
    .experiences {
      align-items: center;

      &__image {
        grid-column: 1 / 6;
      }
  
      &__content {
        grid-column: 7 / -1;
        background-color: transparent;
      }
    }
  }
}