@use '../partials/variables' as *;

.footerList {
  
  &__heading {
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: $orange;
    margin-bottom: 15px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}