@use '../partials/variables' as *;

.primaryLabel {
  text-transform: uppercase;
  color: $vividOrange;
  background-color: $black;
  display: inline-block;
  padding: 0 10px;
  font-weight: bold;
  border-radius: 8px;
}