$white: #ffffff;
$darkOrange: #894506;
$orange: #e8770f;
$vividOrange: #ff7b00;
$lightOrange: #f6b76f;
$black: #000000;
$grey: #eeeeee;
$lightGrey: #f7f7f7;
$darkGrey: #b6b7b8;
$graphite: #383838;
$blue: #0d1b39;